.home-bottom-text {
	font-weight: 700;
	text-align: center;
	display: block;
}

.home-bottom-buttons > button {
	border-radius: 5px;
	background-color: transparent;
	font-size: x-large;
	color: black;
}
.home-bottom-buttons > button:hover {
	border-radius: 5px;
	background-color: black;
	font-size: x-large;
	color: white;
}
body {
	background-image: url('/src/assets/image1.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat; 
	} 	
